@font-face
{
  font-family: 'Lato-Light';
  src: url('../../common/fonts/LatoOFL/Lato-Lig.ttf') format('truetype');
}


@font-face
{
  font-family: 'Lato';
  src: url('../../common/fonts/LatoOFL/Lato-Reg.ttf') format('truetype');
}


body {
    background-color: #777;
}



.panel-default {
    background-color: #fff;
    margin: 15px 15px 15px 15px;
    overflow: hidden;
    box-shadow: 0px 0px -15px #333;
    -moz-box-shadow: 0px 0px 15px #333;
    -webkit-box-shadow: 0px 0px 15px #333;
    box-shadow: 0px 0px 15px #333;
}

.panel-cover {
    padding: 15px 0px 15px 0px;
    background: url(../../media/images/012.jpg) 0 0 no-repeat;
    clear: both;
    position: relative;
    background-size: cover;
    /* top: -33px; */
}

.panel-body {
    padding: 15px;
}

.cover-section-header {
    padding: 180px 0px 230px 20px;
}

.section-header-left {
    padding: 15px 5px 0px 10px;
    /* border-style: solid; */
    border-left: thick solid #EEE8AA;
}

.section-photo {
    padding: 10px 0px 10px 30px;
    font: 16px 'Lato-Light', Arial, sans-serif;
    color: #999
}

.section-panorama {
    padding: 10px 0px 10px 30px;
    font: 16px 'Lato-Light', Arial, sans-serif;
    color: #999
}


.txt1 {
    position: relative;
    font: bold 55px 'Lato-Light', Arial, sans-serif;
    color: #fff;
}

.txt2 {
    position: relative;
    font: 20px 'Lato-Light', Arial, sans-serif;
    color: #fff;
}

.txt3 {
    position: relative;
    font: 35px 'Lato-Light', Arial, sans-serif;
    color: #556B2F;
}


.demo-gallery > ul {
  margin-bottom: 0;
  padding-left: 15px;
}

.demo-gallery > ul > li {
  margin-bottom: 15px;
  width: 180px;
  display: inline-block;
  margin-right: 15px;
  list-style: outside none none;
}

.demo-gallery > ul > li a {
  border: 3px solid #FFF;
  border-radius: 3px;
  display: block;
  overflow: hidden;
  position: relative;
  float: left;
}

.demo-gallery > ul > li a > img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
}

.demo-gallery > ul > li a:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}

.demo-gallery > ul > li a:hover .demo-gallery-poster > img {
  opacity: 1;
}

.demo-gallery > ul > li a .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color 0.15s ease 0s;
  -o-transition: background-color 0.15s ease 0s;
  transition: background-color 0.15s ease 0s;
}

.demo-gallery > ul > li a .demo-gallery-poster > img {
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.demo-gallery > ul > li a:hover .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.5);
}

.demo-gallery .justified-gallery > a > img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
}

.demo-gallery .justified-gallery > a:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}

.demo-gallery .justified-gallery > a:hover .demo-gallery-poster > img {
  opacity: 1;
}

.demo-gallery .justified-gallery > a .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color 0.15s ease 0s;
  -o-transition: background-color 0.15s ease 0s;
  transition: background-color 0.15s ease 0s;
}

.demo-gallery .justified-gallery > a .demo-gallery-poster > img {
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.demo-gallery .justified-gallery > a:hover .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.5);
}

.demo-gallery .video .demo-gallery-poster img {
  height: 48px;
  margin-left: -24px;
  margin-top: -24px;
  opacity: 0.8;
  width: 48px;
}

.demo-gallery.dark > ul > li a {
  border: 3px solid #04070a;
}

#panorama {
        width: 600px;
        height: 400px;
}